<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />

  </configSections>
  <!--配置SocketServer路径-->
  <superSocket>
    <servers>
      <server name="MySocket" textEncoding="gb2312"
              serverType="SuperConsole.SocketServer, SuperConsole"
             ip="Any" port="5180" maxConnectionNumber="100">
      </server>
    </servers>
   </superSocket>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>